<div class='container my-4'>
  
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">新規グループ作成</a></li>
    </ol>
  </nav>
  
<div class="row">
  <%= render "public/spaces/left" %>

  <div class="col-lg-9"> 
    <div class="row justify-content-center">
      <div class="col-md text-center">
        <%= form_with model: @group, local: true do |f| %>
          <fieldset class="mb-4">
            <legend class="h4">新規グループ作成</legend>
            <div class="mb-3 <%= 'field_with_errors' if @group.errors[:name].any? %>">
              <%= f.label :name, "グループ名" %>
              <%= f.text_field :name, class: "form-control" %>
              <% if @group.errors[:name].any? %>
                <div class="error-message text-danger"><%= @group.errors[:name].first %></div>
              <% end %>
            </div>

            <div class="mb-3 <%= 'field_with_errors' if @group.errors[:introduction].any? %>">
              <%= f.label :introduction, "紹介文" %>
              <%= f.text_area :introduction, class: "form-control" %>
              <% if @group.errors[:introduction].any? %>
                <div class="error-message text-danger"><%= @group.errors[:introduction].first %></div>
              <% end %>
            </div>

            <div class="mb-3 <%= 'field_with_errors' if @group.errors[:condition].any? %>">
              <%= f.label :condition, "参加条件（例：弦楽器限定、ヴァイオリン奏者限定）" %>
              <%= f.text_area :condition, class: "form-control" %>
              <% if @group.errors[:condition].any? %>
                <div class="error-message text-danger"><%= @group.errors[:condition].first %></div>
              <% end %>
            </div>

            <div class="mb-3">
              <%= f.submit 'グループ作成', class: "btn btn-success btn-lg" %>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div> 