<h2>コメント一覧</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>投稿区分</th>
      <th>コメント</th>
      <th>投稿日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% space.comments.each do |comment| %>
      <tr>
        <td>
          <% if comment.user.present? %>
            <%= link_to comment.user.name, user_path(comment.user) %>
          <% else %>
            <span>ユーザーが存在しません</span>
          <% end %>
        </td>
        <td><%= comment.category %></td>
        <td><%= comment.comment %></td>
        <td><%= l(comment.created_at, format: :short) %></td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "削除", space_comment_path(space, comment), method: :delete, data: { confirm: "本当にこのコメントを削除しますか？" }, class: "btn btn-danger btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
