<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">検索結果</a></li>
  </ol>
</nav>

 <div class="row">
<%= render "public/spaces/left" %>

<div class="col-lg-9"> 

<% if @model == 'user' %>
  <h3>検索対象："<%= @content %>"</h3>
  <% if @records.any? %>
    <%= render 'public/users/index', users: @records %>
  <% else %>
    <p>検索対象はありませんでした。</p>
  <% end %>
<% elsif @model == 'spaces' %>
  <h3>検索対象："<%= @content %>"</h3>
  <% if @records.any? %>
    <%= render 'public/spaces/index', spaces: @records %>
  <% else %>
    <p>検索対象はありませんでした。</p>
  <% end %>
<% end %>
</div>
</div>
</div>