<div class="container my-4">
  <!-- パンくずリスト -->
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/groups">グループ一覧</a></li>
      <li class="breadcrumb-item"><%= link_to 'グループ詳細',group_path(@group) %></li>
      <li class="breadcrumb-item active" aria-current="page">イベント通知</li>
    </ol>
  </nav>
      
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>イベント通知内容</h1>
      
      <%= form_with url: group_event_notices_path(@group), method: :post, local:true do |f| %>
        <div class="form-group">
          <%= f.label :件名 %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :本文 %>
          <%= f.text_area :body, class: 'form-control' %>
        </div>
        <div class="form-group d-flex justify-content-end">
          <%= f.submit "Send", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>