<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/spaces">投稿一覧</a></li>
    <li class="breadcrumb-item">投稿詳細</a></li>
  </ol>
</nav>

<div class="container">
    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
        <th>会場名</th>
        <td><%= @space.space %></td>
        </tr>
        
        <tr>
        <th>場所</th>
        <td><%= @space.place %></td>
        </tr>
        
        <tr>
        <th>付帯設備</th>
        <td><%= @space.facility %></td>
        </tr>
       
        <th>会場の広さ（カテゴリ）</th>
        <td><%= @space.category %></td>
        </tr>
        
        <tr>
        <th>使用料</th>
        <td><%= @space.price %></td>
        </tr>
        
        <tr>
        <th>支払方法</th>
        <td><%= @space.payment %></td>
        </tr>
        
        <th>その他備考</th>
        <td><%= @space.other %></td>
        </tr>
        
        <tr>
        <th>投稿者</th>
        <td><%= link_to @user.name, user_path(@user) %></td>
        </tr>
        
        <% if @space.user == current_user %>
          <td><a class="btn btn-sm btn-success" href="<%= edit_space_path(@space) %>">Edit</a></td>
          <td><a data-confirm="投稿を消しますか？" class="btn btn-sm btn-danger " rel="nofollow" data-method="delete" href="<%=space_path(@space) %>">Destroy</a></td>
          <% end %>
        </tr>
      </tbody>
    </table>
      <%= render "comments/index", space: @space %>
      <%= render "comments/form", space: @space, comment: @comment %>
  </div>