<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/users/sign_in">ログイン</a></li> <!-- 余分なスペースを削除 -->
  </ol>
</nav>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h2>ログインページ</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="field">
            <%= f.label :パスワード %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :次回より自動でログインする %>
            </div>
          <% end %>
        
          <div class="actions">
            <%= f.submit "ログイン" %>
          </div>
            <%= render "devise/shared/links" %>
          <% end %>
    </div>
  </div>
</div>