<div class="container">
  <h2>全ユーザー一覧</h2>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to '詳細', admin_dashboard_show_path(user.id) %></td>
        <td><%= link_to '退会',admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'グループ一覧はこちら', admin_groups_path, class: 'btn btn-primary' %>
</div>