<div class="col-lg-3 d-flex flex-column h-100 text-light p-4 rounded" style="background-color:#9b683e;">
  <%= link_to new_space_path, class: 'btn btn-primary btn-block mb-4 shadow-sm' do %>
    ＋新規投稿
  <% end %>

  <%= link_to new_group_path, class: 'btn btn-primary btn-block mb-4 shadow-sm' do %>
    +ユーザーグループの作成
  <% end %>

  <%= form_with url: search_path, method: :get, local: true, class: 'mt-4' do |f| %>
    <h5 class="mb-3">投稿の検索</h5>

    <div class="form-group mb-3">
      <label class="form-label">検索の値</label>
      <%= f.text_field :content, class: 'form-control' %>
    </div>

    <div class="form-group mb-3">
      <label class="form-label">検索対象</label>
      <%= f.select :model, options_for_select({ "ユーザー" => "user", "会場名" => "spaces" }), {}, class: 'form-select' %>
    </div>

    <div class="form-group mb-3">
      <label class="form-label">検索方法</label>
      <%= f.select :method, options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }), {}, class: 'form-select' %>
    </div>

    <%= f.submit '検索', class: 'btn btn-secondary btn-block mt-2' %>
  <% end %>
</div>
