<div class="container my-4">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">新規投稿</li>
    </ol>
  </nav>

  <div class="row">
    <%= render "public/spaces/left" %>

    <div class="col-lg-9"> 
      <div class="row justify-content-center">
        <div class="col-md text-center">
          <%= form_with model: @space, local: true do |f| %>
            <fieldset class="mb-4">
              <legend class="h4">会場情報</legend>

              <div class="mb-3 <%= 'field_with_errors' if @space.errors[:space].any? %>">
                <%= f.label :space, "会場名" %>
                <%= f.text_field :space, class: "form-control" %>
                <% if @space.errors[:space].any? %>
                  <div class="error-message text-danger"><%= @space.errors[:space].first %></div>
                <% end %>
              </div>

              <div class="mb-3 <%= 'field_with_errors' if @space.errors[:place].any? %>">
                <%= f.label :place, "場所" %>
                <%= f.text_field :place, class: "form-control" %>
                <% if @space.errors[:place].any? %>
                  <div class="error-message text-danger"><%= @space.errors[:place].first %></div>
                <% end %>
              </div>

              <div class="mb-3 <%= 'field_with_errors' if @space.errors[:category].any? %>">
                <%= f.label :category, "会場の広さ（カテゴリ）" %>
                <%= f.select :category, [["大区分（オーケストラ練習）", "大区分（オーケストラ練習）"], ["中区分（セクション練習）", "中区分（セクション練習）"], ["小区分（パート練習）", "小区分（パート練習）"]], include_blank: "選択して下さい", class: "form-select" %>
                <% if @space.errors[:category].any? %>
                  <div class="error-message text-danger"><%= @space.errors[:category].first %></div>
                <% end %>
              </div>

              <div class="mb-3 <%= 'field_with_errors' if @space.errors[:facility].any? %>">
                <%= f.label :facility, "付帯設備" %>
                <%= f.text_area :facility, class: "form-control" %>
                <% if @space.errors[:facility].any? %>
                  <div class="error-message text-danger"><%= @space.errors[:facility].first %></div>
                <% end %>
              </div>

              <div class="mb-3 <%= 'field_with_errors' if @space.errors[:price].any? %>">
                <%= f.label :price, "使用料" %>
                <%= f.text_field :price, class: "form-control" %>
                <% if @space.errors[:price].any? %>
                  <div class="error-message text-danger"><%= @space.errors[:price].first %></div>
                <% end %>
              </div>

              <div class="mb-3 <%= 'field_with_errors' if @space.errors[:payment].any? %>">
                <%= f.label :payment, "支払方法" %>
                <%= f.select :payment, [["当日精算", "当日精算"], ["事前払込", "事前払込"], ["銀行振込", "銀行振込"]], include_blank: "選択して下さい", class: "form-select" %>
                <% if @space.errors[:payment].any? %>
                  <div class="error-message text-danger"><%= @space.errors[:payment].first %></div>
                <% end %>
              </div>

              <div class="mb-3 <%= 'field_with_errors' if @space.errors[:other].any? %>">
                <%= f.label :other, "その他注意事項" %>
                <%= f.text_area :other, class: "form-control" %>
                <% if @space.errors[:other].any? %>
                  <div class="error-message text-danger"><%= @space.errors[:other].first %></div>
                <% end %>
              </div>

              <%= f.submit '新規投稿', class: "btn btn-success btn-lg" %>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
