<div class="container my-4">
  <!-- パンくずリスト -->
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/spaces">投稿一覧</a></li>
      <li class="breadcrumb-item active" aria-current="page">投稿詳細</li>
    </ol>
  </nav>

  <div class="row">
    <!-- 左側のサイドコンテンツ -->
    <%= render "public/spaces/left" %>

    <!-- メインコンテンツ -->
    <div class="col-lg-9">
      <h2 class="mb-4"><%= @space.space %> について</h2>

      <!-- タブメニュー -->
      <div class="container mt-4">
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" id="spaces-details-tab" data-toggle="tab" href="#spaces-details" role="tab" aria-controls="spaces-details">投稿詳細</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="comment-lists-tab" data-toggle="tab" href="#comment-lists" role="tab" aria-controls="comment-lists">みんなのコメント</a>
            </li>
          </ul>

          <div class="tab-content" id="spaceTabsContent">
            <!-- 投稿詳細タブの内容 -->
            <div class="tab-pane fade show active" id="spaces-details" role="tabpanel" aria-labelledby="spaces-details-tab">
              <h2 class="mt-3 mb-4">投稿詳細</h2>
              <table class="table table-hover table-striped custom-font-color mt-3">
                <tbody>
                  <tr>
                    <th class="text-right">会場名：</th>
                    <td><%= @space.space %></td>
                  </tr>
                  <tr>
                    <th class="text-right">場所：</th>
                    <td><%= @space.place %></td>
                  </tr>
                  <tr>
                    <th class="text-right">付帯設備：</th>
                    <td><%= @space.facility %></td>
                  </tr>
                  <tr>
                    <th class="text-right">会場の広さ（カテゴリ）：</th>
                    <td><%= @space.category %></td>
                  </tr>
                  <tr>
                    <th class="text-right">使用料：</th>
                    <td><%= @space.price %>円</td>
                  </tr>
                  <tr>
                    <th class="text-right">支払方法：</th>
                    <td><%= @space.payment %></td>
                  </tr>
                  <tr>
                    <th class="text-right">その他備考：</th>
                    <td><%= @space.other %></td>
                  </tr>
                  <tr>
                    <th class="text-right">投稿者：</th>
                    <td><%= link_to @user.name, user_path(@user) %></td>
                  </tr>
                  <% if @space.user == current_user %>
                    <tr>
                      <td class="text-right">
                        <a class="btn btn-sm btn-success" href="<%= edit_space_path(@space) %>">投稿の編集</a>
                      </td>
                      <td>
                        <a data-confirm="投稿を消しますか？" class="btn btn-sm btn-danger" rel="nofollow" data-method="delete" href="<%= space_path(@space) %>">投稿の削除</a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <!-- みんなのコメントタブの内容 -->
            <div class="tab-pane fade" id="comment-lists" role="tabpanel" aria-labelledby="comment-lists-tab">
              <%= render "public/comments/index", space: @space %>
            </div>
          </div>

          <!-- コメントフォームを表示するためのボタン -->
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">コメントを追加</a>

          <!-- モーダル -->
          <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="commentModalLabel">コメントを追加</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <% if @error_messages.present? %>
                    <div class="alert alert-danger">
                      <ul>
                        <% @error_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <%= render "public/comments/form", space: @space, comment: @comment %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
