<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">Myページ</a></li>
  </ol>
</nav>
    
<div class="container">
 <table class="table table-hover table-inverse">
    <thead>
      <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th></th>
      <th></th>
      </tr>
    </thead>
      <tbody>
        <tr>
         <td><%= @user.name %></td>
         <td><%= @user.email %></td>
         <% if user_signed_in? && @user == current_user %>
         <td><%=link_to edit_user_path(@user) ,class:"btn btn-outline-secondary btn-block" do %>
          ユーザー情報の編集
          <% end %>
          </td>
          <td><%= link_to "退会",user_path(current_user.id), class: "btn btn-outline-secondary btn-block", method: :delete, "data-confirm" => "本当に退会しますか？" %></td>
          <% end %>
          </td>
        </tr>
      </tbody>
   </table>
   
 <h2>投稿一覧</h2>
 <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>会場名</th>
        <th>場所</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @spaces_list.present? %>
      <% @spaces_list.each do |space| %>
        <tr>
          <td><%= space.space %></td>
          <td><%= space.place %></td>
          <td><%= link_to '詳細',space_path(space.id) %></td>
        </tr>
      <% end %>
       <% else %>
          <tr>
            <td colspan="2">投稿した練習場はありません。</td>
          </tr>
      <% end %>
    </tbody>
  </table>
 </div>
         
         
         