<!DOCTYPE html>
<html>
  <head>
    <title>ClassicSpaces</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
   <script src="https://kit.fontawesome.com/26164d5121.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm header-custom" style="background-color: #9b683e;">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a class="navbar-brand p-3" href="<%= root_path %>">ClassicSpaces</a>
          
          <% if user_signed_in? %>
            <span class="navbar-text text-light ml-3 d-none d-lg-inline-block">
              ようこそ！【<%= current_user.name %>】さん
            </span>
          <% end %>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to users_path, class: 'nav-link text-light' do %>
                  ユーザー一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to spaces_path, class: 'nav-link text-light' do %>
                  投稿一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to groups_path, class: 'nav-link text-light' do %>
                  グループ一覧
                <% end %>
              </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <%= link_to 'Myページ', user_path(current_user), class: 'dropdown-item custom-font-color' %>
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item custom-font-color' %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link text-light' do %>
                    ゲストログイン
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                    新規登録
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                    ログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  
    <main class="mb-auto alert-custom">
      <% if notice %>
        <p class="alert alert-success alert-custom"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger alert-custom"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  
    <% if user_signed_in? %>
      <div class="container">
        <%= button_to "1つ前の画面に戻る", "#", onclick: "history.back(); return false;", class: "btn btn-secondary mb-3" %>
      </div>
    <% end %>
  
    <footer style="background-color: #dcdcdc;">
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>製作者：Kota Ikezaki</p>
            <p>問い合わせ先：ikezakiXXXX@XXXXXXXX.com</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>